.sitter-card {
  margin: 35px;
  padding: 35px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #DDD;
  // height: 60vh;
  h2 { margin: 10px; }
}

.sitter-info {

}

.sitter-booking {
  .new-booking { padding: 20px; }
}

