<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="container-form-login"><h3>New dog?</h3>
<%= render partial: 'dog_form', locals: {button_text: "Add your dog"} %>
</div></div></div></div>
