<h3>New dog?</h3>
<%= simple_form_for([@user, @dog]) do |f| %>
  <div class="form-inputs">
    <%= f.collection_select :ingredient_id, Ingredient.order(:name),:id,:name, include_blank: false %><br/>
    <%= f.input :description, label: "Quantity", class: "form-space"  %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.submit "add a dog", class: "btn btn-primary" %>
  </div>
<% end %>
