<div class="container">
  <div class="row-user">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="user-header">
      <img src="https://a0.muscache.com/im/users/802361/profile_pic/1349136107/original.jpg?aki_policy=profile_x_medium" class="avatar-large">
      <div class="header-user-personal-info">
        <h3>Bonjour, je m'appelle Manon !</h3>
        <ul class="inline">
          <li>Lyon 69002</li>
          <li>Membre depuis 2017</li>
        </ul>
      </div>
      <div class="header-user-site-info">
        <p>8€</p>
        <p>5 stars</p>
      </div>
    </div>
    </div>
  </div>
  <div class="row-user">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h2 class="box-description"> A propos de Manon </h2>
      <p class="description"> Blabla blabla </p>
    </div>
  </div>
  <div class="row-user">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <ul class="inline">
        <li>Lyon 69002</li>
        <li>Membre depuis 2017</li>
      </ul>


</div>
