<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="user_header">
        <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                     url('<%= image_path 'https://static3.shop033.com/resources/18/160536/picture/2E/85135150.jpg', height: 180, width: 370, crop: :fill %>')">
          <span class="card-category"><%= @user.city %></span>
          <div class="card-title">
            <h2> <%= @user.first_name %> </h2>
          </div>
          <img class="card-user avatar avatar-large" src="http://www.qygjxz.com/data/out/190/6179593-profile-pics.jpg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>
 -->
<div class="container">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
  <div class="user-header">
    <img src="https://a0.muscache.com/im/users/802361/profile_pic/1349136107/original.jpg?aki_policy=profile_x_medium" class="avatar-large">
    <div class="header-user-personal-info">
      <h3>Bonjour, je m'appelle Manon !</h3>
      <ul class="inline">
        <li>Lyon 69002</li>
        <li>Membre depuis 2017</li>
      </ul>
    </div>
    <div class="header-user-site-info">
      <p>8€</p>
      <p>5 stars</p>
    </div>
  </div>
  </div>
</div>
