
<%= render 'layouts/banner' %>
<div class="container">

 <div class="wrapper-grey">
      <div class="container">
        <h2>Take care of your dog even you're leaving</h2>
        <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="card-white">
            <h3>Your dog is on good hands</h3>
            <%= image_tag "dog1.jpeg", :class => "avatar" %>
            <p>
              Receive pictures of your dog happy and in good hands at his dog sitter
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="card-white">
            <h3>We ensure you tranquility</h3>
            <%= image_tag "dog1.jpeg", :class => "avatar" %>
            <p>
              For more peace of mind, all bookings are covered by 2M € liability insurance and 1000 € veterinary insurance.
            </p>
          </div>
        </div>
          <div class="col-xs-12 col-md-4">
            <div class="card-white">
              <h3>You can call us everytime</h3>
              <%= image_tag "dog1.jpeg", :class => "avatar" %>
              <p>
                And in case they need a helping hand, all our dog sitters can call our customer service, available 365 days a year.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

