
<%= render 'layouts/banner' %>
<div class="container">

 <div class="wrapper-grey">
      <div class="container">
        <h2>Make sure your dog is always taken care of</h2>
        <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="card-white">
            <%= image_tag "good-hand.png", :class => "avatar", style: "width: 70px;" %>
            <h3>Your dog is in good hands</h3
            <p>
              Receive pictures of your dog during walks from your dog sitter during the day.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="card-white">
            <%= image_tag "tranquility.png", :class => "avatar", style: "width: 70px;" %>
            <h3>We ensure you tranquility</h3>
            <p>
              All bookings are covered with liability and veterinary insurance for more peace of mind.
            </p>
          </div>
        </div>
          <div class="col-xs-12 col-md-4">
            <div class="card-white">
              <%= image_tag "call.png", :class => "avatar", style: "width: 70px;" %>
              <h3>You can contact us anytime</h3>
              <p>
                And in case they need a helping hand, all our dog sitters can call our customer service, available 365 days a year.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

