<h1>Dog sitters</h1>
<br/>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                 url('<%= image_path 'https://static3.shop033.com/resources/18/160536/picture/2E/85135150.jpg', height: 180, width: 370, crop: :fill %>')"><h2>Rio heloo hello sdfasef asdg sdg</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                 url('<%= image_path 'https://static3.shop033.com/resources/18/160536/picture/2E/85135150.jpg', height: 180, width: 370, crop: :fill %>')"><h2>Berlin heloo hello sdfasef asdg sdg</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                 url('<%= image_path 'https://static3.shop033.com/resources/18/160536/picture/2E/85135150.jpg', height: 180, width: 370, crop: :fill %>')"><h2>Shanghai heloo hello sdfasef asdg sdg</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                 url('<%= image_path 'https://static3.shop033.com/resources/18/160536/picture/2E/85135150.jpg', height: 180, width: 370, crop: :fill %>')"><h2>Barcelona heloo hello sdfasef asdg sdg.</h2>
      </div>
    </div>
  </div>
</div>
