.photo-sitter {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
}

.left-button{
  margin-left: 90px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
}

.description-sitter {
  align-items: center;
}

.avatar-bordered {
  width: 70px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.btn-sitter {
  margin-top:7px;
  margin-left: -45px;
}

.profile-dogs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  padding: 20px;
  margin-bottom: -9px;
}

.btn-dog {
  font-size: 10px;
}

.description-dog{
  justify-content: space-around;
}
