.tabs {
  font-weight: bold;
  font-size:18px;
  padding:20px 0 13px 0;
}

.tab {
  padding: 10px 0 10px 5px;
  color:#a8a8a8;
  text-decoration: none;
  &:hover{
    color:black;
  };
}

.active {
  padding: 0px 10px 10px 10px;
  color:black;
  border-bottom: 5px solid #48A399;
}

.inbox {
  padding: 0px 20px 0px 20px;
  list-style: none;
  border:1px solid #dce0e0;
  background-color: #FDFDFD;
}
.message {
  padding:20px 20px 20px 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid #eeeeee;
}

.message-avatar {
  height:50px;
  border-radius: 50%;
}

.message-body{
  padding-left:20px;
  padding-bottom:20px;
  min-width: 150px;
  h3{
    font-size: 13px;
    line-height:9px;
    margin-bottom: 0px;
  };
  p{
    color:#777;
    font-size: 13px;
    font-weight: lighter;
    line-height:7px;
    opacity: 0.6;
  };
}

.message-status{
  padding-top:15px;
  font-size: 14px;
  font-weight: bold;
  min-width: 60px;
}

.done{
  color:#D3D3D3;
}

.accepted{
  color:green;
}

.declined{
  color:red;
}

.message:last-child {
  border-bottom:none;
}
