<div class="banner">
  <div class="banner-content">
    <h1>Trafic de dogs</h1>
    <p>Find someone to take care of your beloved dog</p>

    <div class="search-form-bar-input-wrapper">
      <div class="search-form-bar">
       <form class="form-inline" action="/sitters" method="get">
        <label for="city">City: </label>
        <input type="text" name="city" id="city">

        <label for="date">Date: </label>
        <input type="text"  id="date">

        <input type="submit" class="btn btn-success" value="Search">
      </form>
    </div>
  </div>
</div>
</div>
