<div class="banner">
  <div class="banner-content">
    <h1>Trafic de dogs</h1>
    <p>Find someone to take care of your beloved dog</p>

    <div class="search-form-bar-input-wrapper">
      <div class="search-form-bar">
        <div class="form-group">
       <form class="form-inline" action="/sitters" method="get">
        <label class="label" for="city">City</label>
        <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" name="city">

        <label class="label" for="date">Date
        <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" name="date" id="datepicker"></label>

        <button type="submit" class="btn btn-primary left-margin-button">Search</button>
      </div>

      </form>
    </div>
  </div>
</div>
</div>
