<div class="banner">
  <div class="banner-content">
    <h1>Trafic de dogs</h1>
    <p>Find someone to take care of your beloved dog</p>

    <div class="search-form-bar-input-wrapper">
      <div class="search-form-bar">
       <form classs="form-inline" action="/" method="post">
        <label for="city">City: </label>
        <input type="text" name="sitter[city]" id="city">

        <label for="date">Date: </label>
        <input type="text"  id="date">

        <input type="submit">
      </form>
    </div>
  </div>
</div>
</div>
